@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome to the Library</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="btn-container">
        <a href="/Library/AddNewLibrary" class="btn">Add a Library</a>
        <a href="/Library/AddSet" class="btn">Add a Set</a>
        <a href="/Library/AddShelf" class="btn">Add a Shelf</a>
    </div>
</div>